.btn {
  display: block;

  box-sizing: border-box;
  max-width: 410px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 16px;
  padding-bottom: 15px;


  border: none;
  border-radius: 10px;
  background-color: $color-main;

  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #ffffff;

  transition: all 0.5s ease;

  &:hover {
    cursor: pointer;

    background-color: $color-secondary;
    color: #000000;
  }
}
