.callback-modal {
  padding: 0 21px;
  padding-top: 27px;
  padding-bottom: 65px;
  padding-bottom: 65px;

  @media (min-width: 1412px) {
    padding-bottom: 90px;
  }
}

.callback-modal__title {
  margin-bottom: 17px;
}

.callback-modal__info {
  margin-bottom: 30px;
}

.callback-modal + .fancybox-button {
  @include close-btn;
  @include popup__close-btn;
}

.callback-modal + .fancybox-button svg {
  display: none;
}
