.callback-form__input {
  max-width: none;
  width: 100%;

  color: #ffffff;
}

.callback-form__checkbox {
  top: 61%;
  left: 2%;
}

.callback-form__label {
  width: 100%;
  line-height: 17px;
}

.callback-form__input--tel {
    margin-bottom: 33px;
}

.callback-form__label--checkbox {
    margin-bottom: 27px;

    &:before {
      top: 8px;
      left: 9px;
    }
}

.callback-form__btn {
  @media (min-width: $tablet-width) {
    width: 58%;
    padding: 18px 10px;
  }

  background-color: #313131;
}

.callback-form__link {
  color: #ffffff;
}
