.features-list {
  padding: 0;
  margin: 0;

  list-style: none;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: 1412px) {
    display: flex;
    flex-wrap: wrap;
    order: 1;

    max-width: 1292px;
    width: 100%;
  }
}

.features-list__item {
  max-width: 430px;
  margin-bottom: 19px;

  @media (min-width: 1412px) {
    margin-right: 69px;
  }
}

.features-list__item--last {
  margin-right: 0;
}

.features-list__link {
  color: $color-main;
  text-decoration: none;
  border-bottom: 1px dashed $color-main;
}
