.form {
  max-width: 847px;
  margin: 0 auto;

  @media (min-width: 650px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 23px;
  margin-bottom: 21px;

  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 10px;

  font-weight: 600;
  color: #ffffff;

  @media (min-width: 650px) {
    width: 48%;
  }

  @media (min-width: $desktop-width) {
    max-width: 411px;
    padding: 21px 23px;

    font-size: 18px;
    line-height: 21px;
  }
}

.form__input--tel {
  margin-bottom: 30px;
}

.form__label {
  &:hover {
    cursor: pointer;
  }
}

.form__label--checkbox {
  position: relative;

  display: block;

  box-sizing: border-box;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 24px;
  padding-left: 32px;

  font-size: 10px;
  line-height: 14px;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 5px;

    width: 9px;
    height: 9px;

    background-color: #666666;
    border-radius: 2px;
    box-shadow: 0 0 0 6px #ffffff;

    transition: all 0.5s ease;

    @media (min-width: $desktop-width) {
      top: 0px;
      left: 7px;

      width: 12px;
      height: 12px;
    }
  }

  @media (min-width: 321px) {
    width: 86%;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
    font-size: 11px;
  }

  @media (min-width: $desktop-width) {
    width: 78%;
    padding-left: 40px;
    margin-bottom: 55px;

    font-size: 12px;
  }
}

.form__label--checkbox:hover::before {
  background-color: #989898;
}

.form__checkbox:checked + .form__label--checkbox::before,
.form__checkbox:active + .form__label--checkbox::before {
  background-color: $color-main;
}

.form__checkbox:checked + .form__label--checkbox:hover::before {
  background-color: #989898;
}

.form__link {
  color: $color-main;
  text-decoration: underline;
}
