.main-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;

  display: none;

  box-sizing: border-box;
  width: 310px;
  min-height: 95vh;
  padding: 0 25px;
  padding-top: 57px;

  background-color: #ffffff;
  color: #000000;

  @media (min-width: 1401px) {
    // left: 50%;
    // transform: translateX(-50%);
    position: relative;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    // width: 1292px;
    // max-width: 1292px;
    width: 100%;
    // min-height: 125px;
    min-height: auto;
    padding: 0;

    background-color: transparent;
    color: #ffffff;
  }
}

.main-menu--show {
  display: block;
  animation: menu-show 0.8s ease-out;
}

@keyframes menu-show {
  0% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0%);
  }
}

.main-menu__close-btn {
  top: 21px;
  right: 30px;

  @media (min-width: 1401px) {
    display: none;
  }
}

.main-menu__nav-list {
  margin-bottom: 37px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.main-menu__link {
  @media (min-width: 1401px) {
    display: none;
  }
}
