.main-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $menus-index;

  display: none;

  box-sizing: border-box;
  width: 310px;
  min-height: 713px;
  padding: 0 25px;
  padding-top: 57px;

  background-color: #ffffff;
  color: #000000;

  @media (min-width: 1412px) {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    width: 100%;
    min-height: auto;
    padding: 0;

    background-color: transparent;
    color: #ffffff;
  }
}

.main-menu--show {
  @media (max-width: 1411px) {
    display: block;
    animation: menu-show 0.8s ease-out;
  }
  
  .main-menu__nav-list {
    @media (max-width: 1411px) {
      width: auto;
    }
  }
}

@keyframes menu-show {
  0% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0%);
  }
}

.main-menu__close-btn {
  top: 21px;
  right: 30px;

  @media (min-width: 1412px) {
    display: none;
  }
}

.main-menu__nav-list {
  margin-bottom: 37px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.main-menu__link {
  @media (min-width: 1412px) {
    display: none;
  }
}
