.main-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    padding-top: 3px;
  }
}

.main-nav__link {
  margin-bottom: 7px;

  font-family: "Impact";
  font-size: 34px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-main;
  text-shadow: 2px 2px 4px #000000;

  span {
    color: #ffffff;
  }

  @media (min-width: 330px) {
    order: 2;
  }

  // @media (min-width: $tablet-width) {
  //   margin-right: 1%;
  // }
  @media (min-width: 548px) {
    margin-right: 1%;
  }
}

.main-nav__moto {
  margin-bottom: 7px;

  box-sizing: border-box;
  width: 140px;
  padding-left: 10px;
  font-weight: 400;

  @media (min-width: 330px) {
    order: 3;
  }

  @media (min-width: $tablet-width) {
    margin-right: 15%;
  }
}

.main-nav__telephone {
  width: 199px;

  font-size: 24px;
  line-height: 48px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.5s ease;

  color: #ffffff;

  span {
    color: $color-main;
  }

  &:hover span {
    color: $color-secondary;
  }

  @media (min-width: 330px) {
    order: 4;
  }

  @media (min-width: $tablet-width) {
    width: 36%;

    font-size: 30px;
    line-height: 48px;
  }
}

.main-nav__menu-btn {
  @media (min-width: 330px) {
    order: 1;
  }

  // @media (min-width: $tablet-width) {
  //   margin-right: 5%;
  // }
  @media (min-width: 548px) {
    margin-right: 5%;
  }
}
