.main-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    padding-top: 3px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 7px;
  }
}

.main-nav__link {
  margin-bottom: 7px;

  font-family: "Impact";
  font-size: 34px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-main;
  text-shadow: 2px 2px 4px #000000;

  span {
    color: #ffffff;
  }

  @media (min-width: 330px) {
    order: 2;
  }

  @media (min-width: 548px) {
    margin-right: 9px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;

    font-size: 41px;
    line-height: 49px;
  }
}

.main-nav__moto {
  margin-bottom: 7px;

  box-sizing: border-box;
  width: 140px;
  padding-left: 10px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  @media (min-width: 330px) {
    order: 3;
  }

  @media (min-width: $tablet-width) {
    font-size: 12px;
  }
}

.main-nav__telephone {
  width: 199px;

  font-size: 24px;
  line-height: 48px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;

  color: #ffffff;

  span {
    color: $color-main;
    transition: color 0.5s ease;
  }

  &:hover span {
    color: $color-secondary;
  }

  &:hover {
    cursor: pointer;
  }

  @media (min-width: 330px) {
    order: 4;
  }

  @media (min-width: $tablet-width) {
    max-width: 300px;
    width: 36%;
    margin-left: auto;

    font-size: 30px;
    line-height: 48px;
  }

  @media (min-width: 1412px) {
    width: 20%;
  }

  @media (min-width: $desktop-width) {
    width: 36%;

    font-size: 36px;
    line-height: 48px;
  }
}

.main-nav__menu-btn {
  @media (min-width: 330px) {
    order: 1;
  }

  @media (min-width: 548px) {
    margin-right: 25px;
  }

  @media (min-width: 1412px) {
    display: none;
  }
}

.main-nav--fixed {
  position: fixed;
  z-index: 50;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);

  box-sizing: border-box;
  max-width: 1315px;
  width: 100%;
  padding: 10px 15px;


  background-color: #555555;
  box-shadow: 500px 0 0 0 #555555, -500px 0 0 0 #555555;
  animation: show-nav 0.5s ease;

  @media (min-width: 1412px) {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
    padding-left: 27px;
  }

  .main-nav__moto {
    display: none;
  }

  .main-nav__telephone {
    order: 3;

    width: 25px;
    height: 25px;

    font-size: 0;
    background-image: url('../img/icon-phone.png');
    background-size: cover;

    @media (min-width: 1412px) {
      width: auto;
      margin-left: 0;
      padding-bottom: 20px;


      font-size: 16px;
      background-image: none;
    }
  }

  .main-nav__menu-btn {
    order: 1;
  }

  .main-nav__link {
    order: 2;

    margin-bottom: 0;
    margin-right: 54px;

    font-size: 24px;

    @media (min-width: 1412px) {
      order: 1;
    }
  }

  .features-list__item {
    @media (min-width: 1412px) {
      margin-bottom: 0;
    }
  }

  .features-list__item:not(.features-list__item--callback) {
    @media (min-width: 1412px) {
      display: none;
    }
  }

  .features-list {
    @media (min-width: 1412px) {
      width: auto;
    }
  }

  .main-menu {
    flex-direction: row;
    align-items: center;
    order: 2;

    width: 1006px;
  }

  .nav-list {
    position: static;

    flex-direction: row;
    order: 1;

    width: 630px;
    margin-bottom: 0;

    transform: none;
  }

  .nav-list__item {
    @media (min-width: 1412px) {
      padding: 7px 10px;
      margin-right: 43px;
    }
  }

  .nav-list__item--last {
    @media (min-width: 1412px) {
      margin-right: 0;
    }
  }
}

@keyframes show-nav {
  0% {
    opacity: 0;
    top: -100px
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
