.nav-list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: 1412px) {
    position: absolute;
    bottom: 0;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -100%);

    display: flex;
    flex-wrap: wrap;
    align-self: center;
    order: 2;

    max-width: 630px;
    width: 50%;
  }
}

.nav-list__item {
  max-width: 160px;
  margin-bottom: 24px;

  @media (min-width: 1412px) {
    padding: 19px 10px;
    margin-right: 63px;
    margin-bottom: 0;
  }
}

.nav-list__item--last {
  margin-right: 0;
}

.nav-list__link {
  font-weight: 600;
  color: #000000;
  text-decoration: none;

  @media (min-width: 1400px) {
    color: #ffffff;
  }
}
