.page-header {
  box-sizing: border-box;
  max-width: 1920px;
  min-width: 320px;
  min-height: 770px;
  margin: 0 auto;
  padding-top: 25px;

  background-image: url('../img/bg-snow-clearance-mobile.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #82736a;
  background-size: cover;

  @media (min-width: $tablet-width) {
    min-height: 475px;

    background-image: url('../img/bg-snow-clearance-tablet.png');
    background-position: top center;
  }

  @media (min-width: $desktop-width) {
    min-height: 800px;

    background-image: url('../img/bg-snow-clearance-desktop.png');
  }
}

.page-header__wrapper {
  max-width: 1292px;
  width: 91%;
  margin: 0 auto;
}

.page-header__nav {
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 29px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 98px;
  }
}

.page-header__title {
  max-width: 911px;
  margin: 0 auto;
  margin-bottom: 10px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 800;
  color: $color-secondary;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.5s ease;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: $desktop-width) {
    font-size: 64px;
    line-height: 76px;
  }
}

.page-header__price {
  display: block;

  max-width: 1162px;
  width: 69%;
  margin: 0 auto;
  margin-bottom: 37px;

  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.5s ease;

  @media (min-width: $tablet-width) {
    width: 87%;
    margin-bottom: 22px;

    font-size: 21px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 90%;
    margin-bottom: 70px;

    font-size: 40px;
    line-height: 48px;
  }
}

.page-header__moto {
  display: block;

  width: 100%;
  margin: 0 auto;
  margin-bottom: 25px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 93%;
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}
