.popup {
  display: none;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  max-width: 600px;
  width: 100%;
  padding: 28px 6px;

  background: linear-gradient(45deg, #50b1d7, #1b92c1);
  border-radius: 15px;
}

.popup--success + .fancybox-button {
  @include close-btn;
  @include popup__close-btn;

  top: 19%;
}

.popup__close-btn {
  @include popup__close-btn;
}

.popup__title {
  width: 60%;
  margin: 0;
  margin-bottom: 15px;


  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  text-align: center;
}

.popup__info {
  width: 80%;
  margin: 0;
  margin-bottom: 32px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

.popup__info--success {
  width: 96%;
  margin-bottom: 18px;
}
